$gutter-width-medium: 5rem;
$gutter-width-large: 8rem;

$gutter-xs: 15px;

$screen-size-xs: 320px;
$screen-size-sm: 768px;
$screen-size-md: 1024px;
$screen-size-lg: 1280px;

$primary-blue: #2b4570;
$text-color: #fff;
$secondary: #f8f9fa;
$light-blue: #bfd7ea;
$primary-white: #fff;

$secondary-blue: #2a2c24;
