@import "../../Styles/variables.scss";

.repair-image {
  width: 15rem;
  height: 15rem;
  padding: 10px;
}

.repair-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .info {
    margin-bottom: 0rem;
    font-size: 18px;
    color: $primary-blue;
    font-weight: 700;
  }
}

h1 {
  text-align: center;
}

.notice {
  text-align: center;
  font-style: italic;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  // change later
}

@media (max-width: 576px) {
  .repair-container:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 70%; /* Change this to whatever width you want. */
    padding-top: 1rem; /* This creates some space between the element and the border. */
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $light-blue; /* This creates the border. Replace black with whatever color you want. */
  }
}
