.repair-image {
  width: 15rem;
  height: 15rem;
  padding: 10px;
}

.repair-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  &:hover {
    background-color: #dcdcdc;
  }
}
