.heading-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
}

.gms-logo {
}

.heading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
