.heading-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  // background: #2b4570;
  color: white;
}

.gms-logo {
}

.heading-content {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
