.navbar-collapse {
  &.collapse {
    @media (min-width: 992px) {
      justify-content: center;
    }
  }
}

.navbar-brand {
  margin-left: 1rem;
  @media (min-width: 992px) {
    margin-left: 0rem;
  }
}

.nav-link {
  color: #2a2c24;
}
