@import "~bootstrap/scss/bootstrap";
@import "Styles/variables.scss";

.App {
  background-color: $primary-white;
}

body {
  font-family: "Roboto", sans-serif;
}

.card {
  background-color: $primary-white;
  // color: #3bba9c;
  border: none;
}

.bg-light {
  background-color: $secondary;
}

.heading-container {
  background: $primary-blue !important;
}

.footer-message-container {
  background: $primary-blue;
  color: $text-color;
}

.footer-box {
  background: $secondary;
}

.form-container {
  background-color: $light-blue;
}

.custom-headings {
  color: $primary-blue;
  font-weight: 700;
}

.nav-link {
  color: $primary-blue;
}

.btn {
  &.btn-primary {
    background-color: $primary-blue;
    color: $text-color;
  }
}

.toast {
  flex-basis: 650px;
  max-width: 650px;
  background: $light-grey;
}

.toast-header {
  background: $light-grey;
  border-bottom-color: $primary-blue;
}
