@import "~bootstrap/scss/bootstrap";
$primary-blue: #2b4570;
$text-color: #fff;
$secondary: #f8f9fa;
$secondary-blue: #bfd7ea;

.App {
  // .footer-container {
  //   margin-left: 0rem;
  //   margin-right: 0rem;
  //   max-width: 100%;
  //   padding-right: 12rem;
  //   padding-left: 12rem;
  // }
  background-color: white;
}

body {
  font-family: "Roboto", sans-serif;
}

.card {
  background-color: #fff;
  // color: #3bba9c;
  border: none;
}

.bg-light {
  background-color: $secondary;
}

.heading-container {
  background: $primary-blue !important;
}

.footer-message-container {
  background: $primary-blue;
  color: $text-color;
}

.footer-box {
  background: $secondary;
}

.form-container {
  background-color: $secondary-blue;
}

.custom-headings {
  color: $primary-blue;
  font-weight: 700;
}

.nav-link {
  color: $primary-blue;
}

.btn {
  &.btn-primary {
    background-color: $primary-blue;
    color: white;
  }
}
